.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.column-full,
.column-half,
.column-one-third {
  width: 100%;
  padding: 0 0.75rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
    height: 2000px;
  }

  .column-full,
  .column-half,
  .column-one-third {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-one-third {
    width: 40%;
  }
}
